.main {
    width: 1000px;
    height: 540px;
    background-color: red;
}

.row1 {
    width: 1000px;
    height: 100px;
    background-color: darkgoldenrod;
}

.row2 {
    width: 1000px;
    height: 40px;
    background-color: slategrey;
}
.r2c{
    width: 200px;
    height: 40px;
    background: yellow;
    float: left;
}

.row3{
    width: 1000px;
    height: 200px;
    background-color: chartreuse;
}

.r3c1{
    width: 250px;
    height: 200px;
    background-color:burlywood;
    float: left;
}
.r3c2{
    width: 750px;
    height: 200px;
    background-color: chocolate;
    float: left;
}
.r3c1-item{
    width: 250px;
    height: 40px;
}